.balance-body {
    margin: 12px auto;
    min-width: 480px;
    max-width: 800px;
    width: 40%;
}

.balance-select {
    width: 160px;
    border-radius: 4px;
}

.balance-whitespace-small {
    margin-bottom: 8px;
}

.balance-whitespace {
    margin-bottom: 24px;
}

.balance-whitespace-big {
    margin-bottom: 48px;
}

.balance-bisin-img {
    width: 100%;
}
